hr {
  opacity: 1;
}

/* START UTILITIES AND MAP MERGERS ------------------------------------------ */
$all-colors: map-merge-multiple(
  $blues,
  $indigos,
  $purples,
  $pinks,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $teals,
  $cyans
);

$utilities: map-merge(
  $utilities,
  (
    'width':
      map-merge(
        map-get($utilities, 'width'),
        (
          responsive: true,
        )
      ),
    'height':
      map-merge(
        map-get($utilities, 'height'),
        (
          responsive: true,
        )
      ),
    'object-fit': (
      responsive: true,
      property: object-fit,
      values: (
        contain: contain,
        cover: cover,
        fill: fill,
        scale: scale-down,
        none: none,
      ),
    ),
    'font-weight': (
      property: font-weight,
      class: fw,
      values: (
        lighter: $font-weight-lighter,
        light: $font-weight-light,
        normal: $font-weight-normal,
        medium: $font-weight-medium,
        semibold: $font-weight-semibold,
        bold: $font-weight-bold,
        bolder: $font-weight-bolder,
      ),
    ),
    'color':
      map-merge(
        map-get($utilities, 'color'),
        (
          values:
            map-merge(
              map-get(map-get($utilities, 'color'), 'values'),
              ($all-colors)
            ),
        )
      ),
    'z-index': (
      property: z-index,
      class: z,
      values: $zindex-levels,
    ),

    'cursor': (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    ),
  )
);
/* END UTILITIES AND MAP MERGERS -------------------------------------------- */

@import 'bootstrap/scss/utilities/api';
